body {
    font-family: 'Arial', sans-serif;
    /* background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQiNtv5ws14JQlstOsA6nJle43hVMPiR8oGhg&usqp=CAU"); */
    background-image: url("https://www.codingnepalweb.com/demos/website-login-registration-form-html-css/bg.jpg");
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-size: cover;

} 
.container {
    height: 420px;
    width: 370px;
    /* background: linear-gradient(blue,rgb(170, 131, 205));   */ 
    /* background:linear-gradient(navy,black); */ 
    background-color: white;
    color: black; 
    padding: 20px;
    border-radius: 0px;
    box-shadow: 0 0 10px rgba(11, 8, 8, 0.1);
    justify-content: center; 
} 

.signup-center{
    margin: 10px;
    align-items: center; 
    margin-left: -3px; 
    margin-top: 20px;
}
.link{
    color: blueviolet;
    margin: 5px;
    padding: 5px; 
    text-decoration: none;
}

.signup{
    color: blueviolet;  
}

form {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

label {
    font-weight: bold;
}

input {
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.button-container{
    display:flex;
    flex-direction: flex-row;
    align-items: center;
    justify-content: center;
    margin: 10px;
    padding: 5px;

}
.color{
    color: black;
} 

.signup-container{
    display: flex;
    align-items: end;
    text-align: right; 
    flex-direction: column; 
    color: blueviolet;
    text-decoration: none;
}

.login-signup{
    margin:5px;
    padding: 5px;
    color: black;
}
 .login-button{
    height:40px;
    width: 360px;
    background-color: blueviolet;
    color: white;
    border: 0px;
    font-size: 15px;
    padding: 10px;
    cursor: pointer;
    margin: 10px
} 

.signup-button{
    height:40px;
    width: 360px;
    background-color: blueviolet;
    color: white;
    border: 0px;
    padding: 5px;
    font-size: 15px;
    cursor: pointer;
    margin: 10px
} 

.h{
    color: black;
    
}

.error-message {
    color: red;
}  

@media only screen and (min-width: 600px) {
    .container {
        max-width: 600px;
    }
}