<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', path='/styles.css') }}">
    <title>Signup</title>
</head>
<body>
    <div class="container">
        {% if error_messages %}
        <ul>
          {% for error in error_messages %}
            <li class="error-message">{{ error }}</li>
          {% endfor %}
        </ul>
      {% endif %}
        <h2 class="h" align="center">Signup</h2>
        <form action="/signup" method="post" id="signupForm">
            <!-- Display the error message in red -->
            {% if message %}
                <p class="error-message">{{ message }}</p>
            {% endif %}
            <label class="h" for="signupUsername">Username:</label>
            <input type="text" id="signupUsername" name="username" required>
            <label class="h" for="signupPassword">Password:</label>
            <input type="password" id="signupPassword" name="password" required>
            <label for="password_repeat">Confirm Password</label>
            <input type="password" id="password_repeat" name="password_repeat" required>
            
                <!-- <button type="button" class="button" onclick="window.location.href='/login'">Login</button> -->
            
            <div class="signup-center">
            <button type="submit" class="signup-button">Signup</button> 
            <div class="signup-container">
            <a href="/login" class="blink">Login</a>
        </div>
            </div>
        </form>
    
    </div>
</body>
</html>
