<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Terms of Service</title>
    <style>
        body {
            font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
            margin: 20px;
        }

        h1 {
            color: #333;
            text-align: center;
        }

        p {
            color: #555;
            line-height: 1.5;
        }
    </style>
</head>
<body>
    <h1>Terms of Service</h1>

    <p>Welcome to our Website . By accessing or using our website  (the "Service"), you agree to comply with and be bound by the following terms and conditions ("Terms").</p>

    <h2>1. Acceptance of Terms</h2>

    <p>By accessing or using the Service, you agree to these Terms and any additional terms that may apply. If you do not agree with any part of the Terms, you may not use our services.</p>

    <h2>2. User Accounts</h2>

    <p>To access certain features, you may need to create a user account. You are responsible for maintaining the confidentiality of your account information and for all activities that occur under your account.</p>

    <h2>3. Content and Use</h2>

    <p>You agree not to use our services for any unlawful purpose or to violate the rights of others. You are solely responsible for the content you post or share on [Your Website Name].</p>

    <h2>4. Intellectual Property</h2>

    <p>The content, features, and functionality of our Website  are owned by us and protected by copyright and other intellectual property laws.</p>

    <h2>5. Limitation of Liability</h2>

    <p>We are not liable for any indirect, incidental, special, consequential, or punitive damages arising from your use of our Website.</p>

    <h2>6. Governing Law</h2>

    <p>These Terms are governed by and construed in accordance with the laws of [Your Jurisdiction].</p>

    <h2>7. Changes to Terms of Service</h2>

    <p>We reserve the right to update or modify these Terms at any time. Changes will be effective upon posting. Please review these terms periodically for any updates.</p>

    <p>These Terms of Service were last updated on 21/12/2023.</p>

    <p>If you have any questions about these Terms, please contact us at ridgeuniversity@gmail.com.</p>
</body>
</html>
